.container {

  padding: 40px;
    max-width: 1000px;
    margin: auto;
    text-align: center;

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width: 768px) {
    .gridContainer {
      grid-template-columns: 1fr; 
      margin-top: 50px; 
    }
  }
  

  .pageTitle {
    font-size: 2.5rem;
    margin-bottom: 0px;
  }