.container {
    padding: 40px;
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  
  .pageTitle {
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;

  }
  
  .cardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  